{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
  <a class="action" href="{{ url_for('mlip.index') }}">Go Back</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or text['title'] }}">
    <label for="body">Body</label>
    <textarea name="body" id="body"  required>{{ request.form['body'] or text['body'] }}</textarea>
    <label for="annotation">Annotation</label>
    <textarea name="annotation" id="annotation">{{ request.form['annotation'] or text['annotation'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('mlip.delete', id=text['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}